.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  margin: 0;
  font-size: 32px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
